.slideshow {
  position: relative;
  background-position-x: center;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  padding: 0px;
  margin: 0px;
}

.slideshow img {
  background-position: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: flex;
}

.next-button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #293a29;
  color: white;
  border: none;
  padding: 5px 15px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.next-button:hover {
  background-color: #008a02;
}

.learn-more-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.auth-buttons button {
  margin-left: 25px;
  background-color: #00b503;
  border: none;
  color: white;
  padding: 8px 15px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-buttons button:hover {
  background-color: #007d8a;
}
